<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiger.atcrowdfunding.manager.dao.AccountTypeCertMapper">
  <resultMap id="BaseResultMap" type="com.kiger.atcrowdfunding.bean.AccountTypeCert">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="accttype" jdbcType="CHAR" property="accttype" />
    <result column="certid" jdbcType="INTEGER" property="certid" />
  </resultMap>
  <delete id="deleteAcctTypeCert">
    delete from t_account_type_cert
    where certid = #{certid} and accttype = #{accttype}
  </delete>
  <insert id="insertAcctTypeCert">
    insert into t_account_type_cert (accttype, certid)
    values (#{accttype,jdbcType=CHAR}, #{certid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kiger.atcrowdfunding.bean.AccountTypeCert">
    update t_account_type_cert
    set accttype = #{accttype,jdbcType=CHAR},
      certid = #{certid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, accttype, certid
    from t_account_type_cert
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, accttype, certid
    from t_account_type_cert
  </select>

  <select id="queryCertAccttype" resultType="map">
    select accttype, certid
    from t_account_type_cert
  </select>

</mapper>