<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiger.atcrowdfunding.manager.dao.MemberProjectFollowMapper">
  <resultMap id="BaseResultMap" type="com.kiger.atcrowdfunding.bean.MemberProjectFollow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="projectid" jdbcType="INTEGER" property="projectid" />
    <result column="memberid" jdbcType="INTEGER" property="memberid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_member_project_follow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kiger.atcrowdfunding.bean.MemberProjectFollow">
    insert into t_member_project_follow (id, projectid, memberid
      )
    values (#{id,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kiger.atcrowdfunding.bean.MemberProjectFollow">
    update t_member_project_follow
    set projectid = #{projectid,jdbcType=INTEGER},
      memberid = #{memberid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, projectid, memberid
    from t_member_project_follow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, projectid, memberid
    from t_member_project_follow
  </select>
</mapper>